a {
    color: #FFEB3B;
}
md-card a {
    color: #333333;
}

.md-toolbar-tools {
    color: white;
}

md-card .md-toolbar-tools {
    color: #333;
}

md-toolbar md-icon.material-icons {
    color: white;
}

.logo-cases-bg {
    background: url('../img/bg-cases.png') no-repeat left center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.md-white-card {
    background: white;
    color: #555555;
}

.md-main-content {
    background-color: #212121; }

md-list-item p {
    font-weight: normal; }

md-list-item.active, md-list-item.active md-icon {
    color: #FFEB3B; /* #006FBA; */
}

md-progress-linear.green .md-container {
    background: #F6FFA7;
}
md-progress-linear.green .md-bar {
    background: #D6F107;
}

md-progress-linear.orange .md-container {
    background: #FFE0B2;
}
md-progress-linear.orange .md-bar {
    background: #FFBC1C;
}

md-progress-linear.red .md-container {
    background: #FFCDD2;
}
md-progress-linear.red .md-bar {
    background: #FD661F;
}


.md-html-table td, .md-html-table th {
    border: 1px solid #DDDDDD;
    padding: 8px;
}

.md-html-table td[disabled] {
    background: #CCCCCC;
}

.md-html-table tbody tr {
    transition: 0.25s background-color;
}
.md-html-table tbody tr:nth-child(even) {
    background-color: rgba(1, 1, 1, 0.02);
}
.md-html-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.anr-kb-mgmt md-checkbox .md-icon {
    border-color: rgba(50, 50, 50, 0.7)
}

.md-checkbox-enabled.md-default-theme:not(.md-checked) .md-icon,
.md-checkbox-enabled:not(.md-checked) .md-icon{
    border-color: #DDDDDD; /* rgb(0,111,186); */
}

md-sidenav.md-sidenav-left{
    font-size: 1.2em;
}
