a {
    color: #FFEB3B;
}

.md-toolbar-tools {
    color: white;
}

md-toolbar md-icon.material-icons {
    color: white !important;
}

.logo-cases-bg {
    background: url('/img/bg-cases.png') no-repeat left center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.md-white-card {
    background: white;
    color: #555555;
}

.md-main-content {
    background-color: #212121; }

md-list-item p {
    font-weight: normal; }

md-list-item.active, md-list-item.active md-icon {
    color: #00BCD4; }
