<md-card md-theme="light">
    <md-card-content>
        <p class="md-headline" translate>My risk analysis</p>

        <md-list ng-if="clientAnrs.length > 0">
            <md-list-item class="md-3-line" ui-sref="main.project.anr({modelId: anr.id})" ng-repeat="anr in clientAnrs">
                <div class="md-list-item-text">
                    <h3>{{ anr['label' + anr.language] }}</h3>
                    <p>{{ anr['description' + anr.language] }} - <span translate>Created by</span> {{ anr['creator'] }}</p>
                    <p translate>Created at</span> {{ anr['createdAt']['date'] }}</p>
                </div>
                <countryflag country="{{ countriesCode[anr['language']] }}" title="{{ languagesNames[anr['language']] }}"></countryflag>
                <md-button class="md-warn ng-scope md-light-theme material-icons" ng-disabled="!anr.rwd" ng-click="deleteClientAnrGlobal($event, anr)">
                  <md-icon>delete</md-icon>
                </md-button>
            </md-list-item>
        </md-list>

        <p class="md-subhead" ng-if="!clientAnrs || clientAnrs.length == 0" translate>You don't have any risk analysis yet.</p>
    </md-card-content>
</md-card>
