<div flex layout="row">
    <md-card md-theme="light" md-theme-watch flex>
        <md-card-content layout="column">
            <div layout="row" layout-align="space-around">
                <p class="md-headline" translate>My situation</p>

                <md-input-container ng-if="clientAnrs.length > 0">
                    <label>Project</label>
                    <md-select ng-model="dashboard.anr">
                        <md-option ng-repeat="anr in clientAnrs" ng-value="anr.id">{{ anr.label }}</md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row" layout-align="space-around" ng-if="dashboard.anr">
                <div layout="column">
                    <p class="md-title" translate>Real risks map</p>

                    <table class="tbl-risk-calc">
                        <tbody>
                        <tr>
                            <th></th>
                            <th>0</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>6</th>
                            <th>8</th>
                            <th>9</th>
                            <th>12</th>
                        </tr>
                        <tr>
                            <th>0</th>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="orange">0</td>
                            <td class="orange">0</td>
                            <td class="orange">0</td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td class="green">1</td>
                            <td class="green">2</td>
                            <td class="green">1</td>
                            <td class="green">3</td>
                            <td class="orange">2</td>
                            <td class="orange">1</td>
                            <td class="red">0</td>
                            <td class="red">0</td>
                            <td class="red">0</td>
                        </tr>
                        </tbody>
                    </table>

                    <div layout="row" layout-align="center center">
                        <p flex="60">7 low risks</p>
                        <md-progress-linear md-mode="determinate" value="70" class="green"></md-progress-linear>
                    </div>
                    <div layout="row" layout-align="center center">
                        <p flex="60">3 medium risks</p>
                        <md-progress-linear md-mode="determinate" value="30" class="orange"></md-progress-linear>
                    </div>
                    <div layout="row" layout-align="center center">
                        <p flex="60">1 low risks</p>
                        <md-progress-linear md-mode="determinate" value="10" class="red"></md-progress-linear>
                    </div>
                </div>

                <div layout="column">
                    <p class="md-title" translate>Target risks map</p>

                    <table class="tbl-risk-calc">
                        <tbody>
                        <tr>
                            <th></th>
                            <th>0</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>6</th>
                            <th>8</th>
                            <th>9</th>
                            <th>12</th>
                        </tr>
                        <tr>
                            <th>0</th>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="green">0</td>
                            <td class="orange">0</td>
                            <td class="orange">0</td>
                            <td class="orange">0</td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td class="green">1</td>
                            <td class="green">2</td>
                            <td class="green">1</td>
                            <td class="green">3</td>
                            <td class="orange">2</td>
                            <td class="orange">1</td>
                            <td class="red">0</td>
                            <td class="red">0</td>
                            <td class="red">0</td>
                        </tr>
                        </tbody>
                    </table>

                    <div layout="row" layout-align="center center">
                        <p flex="60">7 low risks</p>
                        <md-progress-linear md-mode="determinate" value="70" class="green"></md-progress-linear>
                    </div>
                    <div layout="row" layout-align="center center">
                        <p flex="60">3 medium risks</p>
                        <md-progress-linear md-mode="determinate" value="30" class="orange"></md-progress-linear>
                    </div>
                    <div layout="row" layout-align="center center">
                        <p flex="60">1 low risks</p>
                        <md-progress-linear md-mode="determinate" value="10" class="red"></md-progress-linear>
                    </div>
                </div>
            </div>

            <div ng-if="!dashboard.anr" layout-align="center center" layout="column">
                <p class="md-subhead" translate>Information about the risks in your current risk analysis will show up here.</p>
                <md-button class="md-raised md-accent"><md-icon>add</md-icon> {{ 'Create a risk analysis' | translate }}</md-button>
            </div>

            <div>&nbsp;</div>

        </md-card-content>
    </md-card>

    <div layout="column">
        <md-card md-theme="orange">
            <md-card-content>
                <p class="md-title" translate>Quick access</p>
            </md-card-content>
        </md-card>

        <md-card md-theme="light">
            <md-list>
                <md-list-item ng-click="void">
                    <md-icon>hourglass_empty</md-icon>
                    <p translate>Current analysis</p>
                </md-list-item>

                <md-list-item ng-click="void">
                    <md-icon>list</md-icon>
                    <p translate>Check my vulnerabilities</p>
                </md-list-item>

                <md-list-item ng-click="void">
                    <md-icon>message</md-icon>
                    <p translate>Contact us</p>
                </md-list-item>
            </md-list>
        </md-card>
    </div>
</div>