<div ng-controller="ClientMainCtrl" layout="row" flex>
    <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-locked-open="sidenavIsOpen"
            md-disable-backdrop="true"
            md-whiteframe="3">
        <div layout="row" layout-align="center center" class="md-padding">
            <img src="img/logo-monarc.png" width="70%">
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeLeftSidenav();">
                <md-icon>menu</md-icon>
            </md-button>
        </div>
        <md-list>
            <md-list-item ui-sref="main.project.anr({modelId: anr.id})" ui-sref-active="active" ng-show="isAllowed('userfo')" ng-repeat="anr in clientAnrs">
                {{ anr['label' + anr.language] }}
            </md-list-item>

            <md-list-item ng-click="sidebarCreateNewANR($event)" ng-show="isAllowed('userfo') && !clientAnrIsCreating">
                <md-icon>add</md-icon>
                <p>{{ 'Create a risk analysis' | translate }}</p>
            </md-list-item>

            <md-list-item ng-show="clientAnrIsCreating">
                <div layout="row">
                    <md-progress-circular md-diameter="24"></md-progress-circular>&nbsp;
                    <p>{{ 'Creating risk analysis...' | translate }}</p>
                </div>
            </md-list-item>
        </md-list>

        <md-divider></md-divider>

        <p class="md-caption txtcenter">Copyright 2012-2018 <a href="https://www.cases.lu" target="_blank">CASES</a></p>
        <p class="md-caption txtcenter"><a href="https://www.monarc.lu" target="_blank">MONARC</a> v. {{ appVersion }}</p>


    </md-sidenav>
    <md-content layout="column" class="md-main-content" flex ng-controller="ClientAccountCtrl">
        <md-toolbar layout="row" layout-align="start center">
            <h1 class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="openLeftSidenav();" ng-hide="sidenavIsOpen">
                    <md-icon>menu</md-icon>
                </md-button>
                <div hide show-gt-md ncy-breadcrumb></div>
            </h1>
            <span flex></span>
            <md-menu ng-show="isAllowed('superadminfo')">
                <md-button class="md-icon-button" ng-click="openToolbarMenu($mdOpenMenu, $event)">
                    <md-tooltip md-theme="light">{{ "Administration" | translate }}</md-tooltip>
                    <md-icon md-menu-origin>settings</md-icon>
                </md-button>

                <md-menu-content width="1">
                    <md-menu-item ng-show="isAllowed('superadminfo')">
                        <md-button ui-sref="main.admin.users">
                            <md-icon>people</md-icon> {{ 'Manage users' | translate }}
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-show="isAllowed('superadminfo')">
                        <md-button ui-sref="main.admin.organization">
                            <md-icon>account_balance</md-icon> {{ 'Organization' | translate }}
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-show="isAllowed('superadminfo')">
                        <md-button ui-sref="main.admin.deliveries_models">
                            <md-icon>insert_drive_file</md-icon> {{ 'Deliverable templates' | translate }}
                        </md-button>
                    </md-menu-item>

                    <!-- <md-menu-item ng-show="isAllowed('superadminfo')">
                        <md-button ui-sref="main.admin.accesslog">
                            <md-icon>history</md-icon> {{ 'Access log' | translate }}
                        </md-button>
                    </md-menu-item> -->
                </md-menu-content>
            </md-menu>

            <md-button class="md-icon-button" ui-sref="main.account">
                <md-tooltip md-theme="light">{{ "Account" | translate }}</md-tooltip>
                <md-icon>person</md-icon>
            </md-button>

            <md-menu>
                <md-button class="md-icon-button" ng-click="openToolbarMenu($mdOpenMenu, $event)">
                    <md-tooltip md-theme="light">{{ "Interface language" | translate }}</md-tooltip>
                    <countryflag country={{lang_selected}}></countryflag>
                </md-button>

                <md-menu-content width="1" ng-model="user.language" flex aria-label="{{ 'Language' | translate }}">
                    <md-menu-item ng-repeat="(lang_idx, lang) in languages">
                        <md-button ng-click="changeLanguage(lang_idx)">
                            <countryflag country="{{ countriesCode[lang_idx] }}"></countryflag>
                            {{ languagesNames[lang_idx] }}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
                </md-button>
            </md-menu>

            <md-button class="md-icon-button" ng-click="logout()" ng-hide="isLoggingOut">
                <md-tooltip md-theme="light">{{ "Logout" | translate }}</md-tooltip>
                <md-icon>exit_to_app</md-icon>
            </md-button>

            <md-progress-circular class="md-accent" md-mode="indeterminate" ng-show="isLoggingOut"></md-progress-circular>
        </md-toolbar>

        <div ui-view="main"></div>

    </md-content>
</div>
