<div ng-controller="ClientAccountCtrl" ng-init="refreshProfile()">
    <md-card md-theme="light">
        <md-card-title>
            <span class="md-headline" translate>My account</span>
        </md-card-title>
        <md-card-content>
            <form layout="column" name="accountForm" autocomplete="off" flex>
                <p class="md-title" translate>Personal information</p>

                <div layout="row">
                    <md-input-container class="md-block" flex>
                        <label translate>First name</label>
                        <md-icon>person</md-icon>
                        <input type="text" ng-model="user.firstname">
                    </md-input-container>

                    <md-input-container class="md-block md-padding-left" flex>
                        <label translate>Last name</label>
                        <input type="text" ng-model="user.lastname">
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label translate>E-mail</label>
                    <md-icon>email</md-icon>
                    <input type="email" autocomplete="email" ng-model="user.email" name="useremail" ng-pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/">
                    <div ng-messages="accountForm.useremail.$error" role="alert">
                        <div ng-message="required">{{ 'You must enter an e-mail address' | translate }}</div>
                    </div>
                </md-input-container>

                <div layout="row" layout-align="center center">
                  <md-input-container class="md-block" flex>
                      <label translate>MOSP API Key</label>
                      <md-icon>vpn_key</md-icon>
                      <input autocomplete="new-password" type="{{ typePassword ? 'text' : 'password' }}" name="password" ng-model="user.mospApiKey">
                  </md-input-container>
                  <md-button class="md-icon-button md-primary" ng-click="togglePassword()">
                    <md-icon>{{!typePassword ? 'visibility_on' : 'visibility_off' }}</md-icon>
                    <md-tooltip>{{ (!typePassword ? 'Show' : 'Hide')  | translate }}</md-tooltip>
                  </md-button>
                  <md-button ng-if="acceptMospApiKey" class="md-icon-button md-primary" ng-click="regenerateToken()">
                    <md-icon >autorenew</md-icon>
                    <md-tooltip>{{ 'Regenerate'  | translate }}</md-tooltip>
                  </md-button>
                  <md-button ng-if="!acceptMospApiKey" class="md-icon-button md-primary" ng-click="createMospAccount()">
                    <md-icon >person_add</md-icon>
                    <md-tooltip>{{ 'Create a MOSP Account'  | translate }}</md-tooltip>
                  </md-button>
                </div>

                <div layout="row">
                    <md-button class="md-primary md-raised" ng-click="updateProfile();">{{ 'Save changes' | translate }}</md-button>
                </div>
          </form>
        </md-card-content>
    </md-card>

      <md-card md-theme="light">
          <md-card-title>
              <span class="md-headline" translate>Security</span>
          </md-card-title>
          <md-card-content>
            <form layout="column" name="securityForm" autocomplete="off" flex>
                <p class="md-title" translate>Change password</p>

                <div layout="column" flex>
                    <md-input-container class="md-block" flex>
                        <label translate>Current password</label>
                        <md-icon>no_encryption</md-icon>
                        <input type="password" ng-model="password.old" autocomplete="off" flex>
                    </md-input-container>

                    <md-input-container class="md-block" flex>
                        <label translate>New password</label>
                        <md-icon>enhanced_encryption</md-icon>
                        <input type="password" name="passwordnew" ng-model="password.new" autocomplete="off" ng-minlength="9" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{9,}/" flex>
                        <div ng-messages="accountForm.passwordnew.$error" ng-messages-multiple>
                            <p ng-message="minlength" translate>Your password is too short (min 9 characters).</p>
                            <p ng-message="pattern" translate>Your password must contain at least: one uppercase, one number and one special character.</p>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex>
                        <label translate>Confirm new password</label>
                        <md-icon>enhanced_encryption</md-icon>
                        <input type="password" name="passwordconfirm" ng-model="password.confirm" autocomplete="off" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{9,}/" flex>
                        <div ng-messages="accountForm.passwordconfirm.$error" ng-messages-multiple>
                            <p ng-message="pattern" translate>The two passwords are differents.</p>
                        </div>
                    </md-input-container>

                    <div layout="row">
                        <md-button class="md-raised md-primary" ng-click="updatePassword()" ng-disabled="password.old == '' || password.new == '' || password.old == '' || password.new != password.confirm || accountForm.passwordnew.$invalid || account.passwordconfirm.$invalid">{{ 'Update password' | translate }}</md-button>
                    </div>
                </div>

                <p class="md-title" translate>Two-Factor authentication</p>
                <p class="md-subhead" translate>Use a second factor besides your password to increase security for your account.</p>
                <p class="md-title" translate>Authenticator App</p>
                <div layout="row">
                    <md-button class="md-raised md-primary" ng-click="activateAuthenticatorApp()">{{ 'Set up' | translate }}</md-button>
                </div>
                <div layout="row" ng-if="user.isTwoFactorAuthEnabled" ng-model="user.isTwoFactorAuthEnabled">
                    <md-button class="md-accent md-raised" ng-click="deactivateAuthenticatorApp()">{{ 'Disable Two-Factor Authentication' | translate }}</md-button>
                </div>

                <div ng-if="user.isTwoFactorAuthEnabled">
                  <p class="md-title" translate>Recovery options</p>
                  <p class="md-subhead" translate>Recovery codes</p>
                  <md-card class="md-card-info">
                    <md-card-content>
                      <p ng-if="user.remainingRecoveryCodes == 0" translate>You must generate recovery codes.                   </p>
                      <p ng-if="user.remainingRecoveryCodes !== 0" translate>Remaining recovery codes: {{ user.remainingRecoveryCodes }}.</p>
                      <p translate>Recovery codes can be used to access your account in the event you lose access to your two-factor method.</p>
                      <p translate>If you regenerate recovery codes, you automatically invalidate old codes.</p>
                    </md-card-content>
                  </md-card>
                  <div layout="row">
                      <md-button class="md-raised md-primary" ng-click="generateRecoveryCodes()">
                          {{ 'Generate new codes' | translate }}
                      </md-button>
                  </div>
                </div>
            </form>
        </md-card-content>
    </md-card>

    <md-card md-theme="light">
        <md-card-title>
            <span class="md-headline" translate>Danger zone</span>
        </md-card-title>
        <md-card-content>
            <div layout="row">
                <div layout="md-block" flex>
                    <md-button class="md-warn md-raised" ng-click="deleteProfile();">{{ 'Delete your account' | translate }}</md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
