<div flex ng-controller="DeliveriesModelsCtrl" ng-if="isAllowed('superadminfo')">
    <md-card md-theme="light">
        <div layout="row" layout-align="start center" class="md-padding" ng-if="!tags.selected.length">
            <h2 class="md-title md-padding-right md-padding-left">
                <span translate>Deliverable templates</span>
                <md-button class="md-icon-button md-primary md-button ng-scope md-light-theme" aria-label="{{ 'Add a deliverable template' | translate }}" ng-click="createNewDeliveryModel($event)">
                    <md-tooltip md-direction="left">
                        {{ 'Add a deliverable template' | translate }}
                    </md-tooltip>
                    <md-icon>add_to_photos</md-icon>
                </md-button>
            </h2>
        </div>

        <div flex layout="column" layout-align="space-between stretch">
            <div flex>
                <md-subheader class="md-no-sticky md-small-subheader" style="z-index: 8">
                    <div layout="row" layout-align="space-between center">
                        <div translate>{{ categories[0].label }}</div>
                        <md-button class="md-icon-button" ng-click="uiState.hideCat1 = !uiState.hideCat1"><md-icon>{{ uiState.hideCat1 ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
                    </div>
                </md-subheader>
                <md-table-container flex ng-style="{'background-color': 'white', z-index: 15;}" ng-hide="uiState.hideCat1">
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column><span translate>Description</span></th>
                            <th md-column width="20%"><span translate>Actions</span></th>
                        </tr>
                        </thead>

                        <tbody md-body>
                        <tr md-row ng-repeat="deliverymodel in deliveriesmodels | orderBy:'category'" ng-if="deliverymodel.category==1">
                            <td md-cell>{{ _langField(deliverymodel,'description') }}</td>
                            <td md-cell>
                                <md-menu>
                                    <md-button class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                        <md-icon>file_download</md-icon>
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item ng-repeat="(idx, lang) in languages">
                                            <md-button ng-click="downloadDeliveryModel(deliverymodel, idx)">{{ lang }}</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-button class="md-icon-button md-primary" ng-click="editDeliveryModel($event, deliverymodel)">
                                    <md-icon>edit</md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-warn" ng-click="deleteDeliveryModel($event, deliverymodel)" ng-if="deliverymodel.editable">
                                    <md-icon>delete</md-icon>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>

            <div flex>
                <md-subheader class="md-no-sticky md-small-subheader" style="z-index: 8">
                    <div layout="row" layout-align="space-between center">
                        <div translate>{{ categories[1].label }}</div>
                        <md-button class="md-icon-button" ng-click="uiState.hideCat2 = !uiState.hideCat2"><md-icon>{{ uiState.hideCat2 ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
                    </div>
                </md-subheader>
                <md-table-container flex ng-style="{'background-color': 'white', z-index: 15;}" ng-hide="uiState.hideCat2">
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column><span translate>Description</span></th>
                            <th md-column width="20%"><span translate>Actions</span></th>
                        </tr>
                        </thead>

                        <tbody md-body>
                        <tr md-row ng-repeat="deliverymodel in deliveriesmodels | orderBy:'category'" ng-if="deliverymodel.category==2">
                            <td md-cell>{{ _langField(deliverymodel,'description') }}</td>
                            <td md-cell>
                                <md-menu>
                                    <md-button class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                        <md-icon>file_download</md-icon>
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item ng-repeat="(idx, lang) in languages">
                                            <md-button ng-click="downloadDeliveryModel(deliverymodel, idx)">{{ lang }}</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-button class="md-icon-button md-primary" ng-click="editDeliveryModel($event, deliverymodel)">
                                    <md-icon>edit</md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-warn" ng-click="deleteDeliveryModel($event, deliverymodel)" ng-if="deliverymodel.editable">
                                    <md-icon>delete</md-icon>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>

            <div flex>
                <md-subheader class="md-no-sticky md-small-subheader" style="z-index: 8">
                    <div layout="row" layout-align="space-between center">
                        <div translate>{{ categories[2].label }}</div>
                        <md-button class="md-icon-button" ng-click="uiState.hideCat3 = !uiState.hideCat3"><md-icon>{{ uiState.hideCat3 ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
                    </div>
                </md-subheader>
                <md-table-container flex ng-style="{'background-color': 'white', z-index: 15;}" ng-hide="uiState.hideCat3">
                    <table md-table>
                        <thead md-head>
                        <tr md-row>
                            <th md-column><span translate>Description</span></th>
                            <th md-column width="20%"><span translate>Actions</span></th>
                        </tr>
                        </thead>

                        <tbody md-body>
                        <tr md-row ng-repeat="deliverymodel in deliveriesmodels | orderBy:'category'" ng-if="deliverymodel.category==3">
                            <td md-cell>{{ _langField(deliverymodel,'description') }}</td>
                            <td md-cell>
                                <md-menu>
                                    <md-button class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                        <md-icon>file_download</md-icon>
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item ng-repeat="(idx, lang) in languages">
                                            <md-button ng-click="downloadDeliveryModel(deliverymodel, idx)">{{ lang }}</md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                <md-button class="md-icon-button md-primary" ng-click="editDeliveryModel($event, deliverymodel)">
                                    <md-icon>edit</md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-warn" ng-click="deleteDeliveryModel($event, deliverymodel)" ng-if="deliverymodel.editable">
                                    <md-icon>delete</md-icon>
                                </md-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>

            <div flex>
            <md-subheader class="md-no-sticky md-small-subheader" style="z-index: 8">
                <div layout="row" layout-align="space-between center">
                    <div translate>{{ categories[3].label }}</div>
                    <md-button class="md-icon-button" ng-click="uiState.hideCat4 = !uiState.hideCat4"><md-icon>{{ uiState.hideCat4 ? 'expand_more' : 'expand_less' }}</md-icon></md-button>
                </div>
            </md-subheader>
            <md-table-container flex ng-style="{'background-color': 'white', z-index: 15;}" ng-hide="uiState.hideCat4">
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span translate>Description</span></th>
                        <th md-column width="20%"><span translate>Actions</span></th>
                    </tr>
                    </thead>

                    <tbody md-body>
                    <tr md-row ng-repeat="deliverymodel in deliveriesmodels | orderBy:'category'" ng-if="deliverymodel.category==4">
                        <td md-cell>{{ _langField(deliverymodel,'description') }}</td>
                        <td md-cell>
                            <md-menu>
                                <md-button class="md-icon-button md-primary" ng-click="$mdOpenMenu($event)">
                                    <md-icon>file_download</md-icon>
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item ng-repeat="(idx, lang) in languages">
                                        <md-button ng-click="downloadDeliveryModel(deliverymodel, idx)">{{ lang }}</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            <md-button class="md-icon-button md-primary" ng-click="editDeliveryModel($event, deliverymodel)">
                                <md-icon>edit</md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-warn" ng-click="deleteDeliveryModel($event, deliverymodel)" ng-if="deliverymodel.editable">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
        </div>
    </md-card>
</div>
