<md-card md-theme="light">
    <md-card-content>
        <p class="md-headline" translate>My risk analyses</p>

        <md-list ng-if="clientAnrs.length > 0">
            <md-list-item class="md-3-line" ui-sref="main.project.anr({modelId: 1})" ng-repeat="anr in clientAnrs">
                <div class="md-list-item-text">
                    <h3>{{ anr.label }}</h3>
                    <p>{{ anr.description }}</p>
                </div>
            </md-list-item>
        </md-list>

        <p class="md-subhead" ng-if="!clientAnrs || clientAnrs.length == 0" translate>You don't have any risk analysis yet.</p>
    </md-card-content>
</md-card>