<div ng-controller="ClientDashboardCtrl" flex layout="row">
    <md-card ng-show="isAllowed('userfo')" md-theme="light" md-theme-watch flex>
        <md-card-content layout="column">
            <div layout="row" layout-align="space-around">
                <p class="md-headline" translate>My situation</p>

                <md-input-container ng-if="clientAnrs.length > 0" class="md-block"  flex="30">
                    <label translate>Risk analysis</label>
                    <md-select ng-model="dashboard.anr">
                        <md-option ng-repeat="anr in clientAnrs" ng-value="anr.id">{{ anr['label' + anr.language] }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-align="space-around" >
                <div layout="column" flex="35">
                    <p class="md-title" translate>Current risks map</p>
                      <nvd3 id="actualGraphRisk" options="optionsCartoRisk" data="dataCartoRisk"  api="actualGraphRisk" config="{refreshDataOnly: false}"></nvd3>
                </div>
                <div layout="column" flex="35">
                    <p class="md-title" translate>Target risks map</p>
                      <nvd3 id="residualGraphRisk" options="optionsCartoRisk" data="dataResidualRisks" api="residualGraphRisk"  config="{refreshDataOnly: false}"></nvd3>
                    <div ng-if="!dashboard.carto.targeted">
                        <p><em>{{ 'No target risks specified in your risk analysis yet.' | translate }}</em></p>
                    </div>
                </div>
            </div>

            <div ng-if="!dashboard.anr" layout-align="center center" layout="column">
                <p class="md-subhead" translate>Information about the risks in your current risk analysis will show up here.</p>
                <md-button class="md-raised md-accent" ng-show="isAllowed('userfo')" ng-click="sidebarCreateNewANR($event)"><md-icon>add</md-icon> {{ 'Create a risk analysis' | translate }}</md-button>
            </div>

            <div>&nbsp;</div>

        </md-card-content>
<!--
        <div layout="row" layout-align="space-around" >
            <div layout="column" flex="50">
              <nvd3 options="optionsChartRisks" data="dataChartRisks" config="{refreshDataOnly: false}"></nvd3>
            </div>
        </div>  -->




    </md-card>









    <!-- <div layout="column">
        <md-card md-theme="orange">
            <md-card-content>
                <p class="md-title" translate>Quick access</p>
            </md-card-content>
        </md-card>

        <md-card md-theme="light">
            <md-list>
                <md-list-item ng-disabled="!clientCurrentAnr" ui-sref="main.project.anr({modelId: clientCurrentAnr.id})">
                    <md-icon>hourglass_empty</md-icon>
                    <p ng-if="clientCurrentAnr">
                        {{ 'Current analysis' | translate }}
                    </p>
                    <p ng-if="!clientCurrentAnr">
                        <em>{{ 'No analysis yet' | translate }}</em>
                    </p>

                </md-list-item>

                <md-list-item ng-disabled="true">
                    <md-icon>list</md-icon>
                    <p translate>Check my vulnerabilities</p>
                </md-list-item>

                <md-list-item ng-href="https://securitymadein.lu/en/contact/helpline/" target="_blank">
                    <md-icon>message</md-icon>
                    <p translate>Contact us</p>
                </md-list-item>
            </md-list>
        </md-card>
    </div> -->

</div>
