<md-card md-theme="light" layout="column" flex ng-controller="ClientAdminUsersCtrl">

    <div layout="row" layout-align="start center" class="md-padding" ng-if="!users.selected.length">
        <h2 class="md-title md-padding-right md-padding-left">
            <span translate>Users</span>
            <md-button class="md-icon-button md-primary md-button ng-scope md-light-theme" aria-label="{{ 'Add an user' | translate }}" ng-click="createNewUser($event)">
                <md-tooltip md-direction="left">
                    {{ 'Add an user' | translate }}
                </md-tooltip>
                <md-icon>add_to_photos</md-icon>
            </md-button>
        </h2>
        <form flex name="users.filter.form">
            <md-input-container class="md-block md-padding-left md-padding-right">
                <label><md-icon>search</md-icon> {{ 'Search...' | translate }}</label>
                <input ng-model="users.query.filter" ng-model-options="users.filter.options">
            </md-input-container>
        </form>

        <md-select aria-label="filter" ng-model="users.activeFilter" style="font-size: 14px">
            <md-option value="all">{{ 'Show all' | translate }}</md-option>
            <md-option value="0">{{ 'Show inactive only' | translate }}</md-option>
            <md-option value="1">{{ 'Show active only' | translate }}</md-option>
        </md-select>
        <md-button class="md-icon-button md-primary" ng-click="removeFilter()">
            <md-icon>settings_backup_restore</md-icon>
        </md-button>
    </div>

    <md-toolbar class="md-table-toolbar md-default" ng-show="users.filter.show && !users.selected.length">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex name="users.filter.form">
                <input type="text" ng-model="users.query.filter" ng-model-options="users.filter.options"
                       placeholder="{{ 'Search...' | translate }}">
            </form>
            <md-button class="md-icon-button" ng-click="removeFilter()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container flex>
        <table md-table md-progress="users.promise">
            <thead md-head md-order="users.query.order" md-on-reorder="updateUsers">
            <tr md-row>
                <th md-column md-order-by="status"><span translate>Status</span></th>
                <th md-column md-order-by="firstname"><span translate>First name</span></th>
                <th md-column md-order-by="lastname"><span translate>Last name</span></th>
                <th md-column md-order-by="email"><span translate>E-mail</span></th>
                <th md-column md-order-by="isTwoFactorAuthEnabled"><span translate>2FA</span></th>
                <th md-column><span translate>Actions</span></th>
            </tr>
            </thead>

            <tbody md-body>
            <tr md-row ng-repeat="user in users.items.users">
                <td md-cell><md-button ng-click="toggleUserStatus(user)" class="md-icon-button md-primary" ng-disabled="user.id == myself"><md-icon>{{ user.status == 1 ? 'done' : 'close' }}</md-icon></md-button></td>
                <td md-cell>{{ user.firstname }}</td>
                <td md-cell>{{ user.lastname }}</td>
                <td md-cell>{{ user.email }}</td>
                <td md-cell>
                  <span ng-if="user.isTwoFactorAuthEnabled" translate>Enabled</span>
                  <span ng-if="! user.isTwoFactorAuthEnabled" translate>Not enabled</span>
                </td>
                <td md-cell>
                    <md-button class="md-icon-button md-primary" ng-click="editUser($event, user)" title="{{ 'Edit' | translate }}"><md-icon>edit</md-icon></md-button>
                    <md-button class="md-icon-button md-primary" ng-click="resetUserPassword($event, user)" ng-disabled="user.id == myself" title="{{ 'Reset password' | translate }}"><md-icon>cached</md-icon></md-button>
                    <md-button class="md-icon-button md-warn" ng-click="deleteUser($event, user)" ng-disabled="user.id == myself" title="{{ 'Delete' | translate }}"><md-icon>delete</md-icon></md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="users.query.limit" md-limit-options="[10, 25, 50, 100]" md-page="users.query.page"
                         md-total="{{users.items.count}}" md-on-paginate="updateUsers" md-page-select md-label="{{paginationLabels}}"></md-table-pagination>
</md-card>
