<div class="logo-cases-bg"></div>

<div layout="row" layout-align="center center" class="md-main-content" ng-controller="ClientPasswordForgottenCtrl" style="background: #F0F0F0" flex>
    <div layout="column" flex flex-gt-sm="50" flex-gt-md="40" class="md-whiteframe-12dp" style="background: white; z-index:2">
        <div layout-align="center center" layout="row" class="md-padding">
            <img src="img/logo-cases.png">
        </div>

        <form layout="column" class="md-padding" ng-submit="resetPassword()">
            <p translate>Please type in and confirm your new password</p>

            <md-input-container flex>
                <label translate>New password</label>
                <md-icon>vpn_key</md-icon>
                <input ng-model="user.password" type="password">
            </md-input-container>

            <md-input-container flex>
                <label translate>Confirm new password</label>
                <md-icon>vpn_key</md-icon>
                <input ng-model="user.confirm" type="password">
            </md-input-container>

            <div layout="row" layout-align="end center">
                <md-card class="md-card-crit" ng-if="user.password != user.confirm && user.password.length > 0 && user.confirm.length > 0">
                    <md-card-content>{{ 'Passwords mismatch.' | translate }}</md-card-content>
                </md-card>
                <span flex></span>
                <md-button class="md-primary" ng-click="resetPassword()" ng-disabled="user.password.length == 0 || user.password != user.confirm">{{ 'Reset password' | translate }}</md-button>
                <input type="submit" style="position: absolute; left: -99999px">
            </div>
        </form>
    </div>
</div>