<md-dialog md-theme="light" class="dialog-width">
    <form name="evalContextForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>Global dashboard settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
          <md-list>
            <md-subheader class="md-no-sticky" translate>Risks analysis to show</md-subheader>
            <md-list-item ng-repeat="anr in anrs">
              <md-checkbox ng-model="anr.isVisible"></md-checkbox>
              <p> {{ anr.anrName}}</p>
            </md-list-item>
          </md-list>
        </md-dialog-content>
    </form>
</md-dialog>
