<md-dialog md-theme="light" class="dialog-width">
    <form name="evalContextForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>Global dashboard settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="{{ 'Close dialog' | translate }}">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <table class="md-html-table">
                <thead>
                <tr>
                    <th translate style="width:15%">Collect stats</th>
                    <th translate style="width:15%;">Display on dashboard</th>
                    <th translate>Risks analyzes</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="anr in anrs">
                    <td class="txtcenter"><md-checkbox ng-model="anr.isStatsCollected"></md-checkbox></td>
                    <td class="txtcenter"><md-checkbox ng-model="anr.isVisible"></md-checkbox></td>
                    <td>{{ anr.anrName}}</td>
                </tr>
                </tbody>
            </table>
        </md-dialog-content>
    </form>
</md-dialog>
